# Entorno virtual de Python
.venv/
venv/

# Archivos de Playwright
playwright-report/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de VSCode
.vscode/

# Archivos de sistema
.DS_Store

# Otros
*.log
escuelas.txt
